.login-background {
  background-color: red;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgb(250, 251, 252);
  background-image: url('/trello-left.svg'), url('/trello-right.svg');
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-size: 368px, 368px;
  background-position:
    left bottom,
    right bottom;
}
