@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .center-xy {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform;
  }

  .center-x {
    @apply absolute left-1/2 -translate-x-1/2 transform;
  }

  .center-y {
    @apply absolute top-1/2 -translate-y-1/2 transform;
  }
}

@layer utilities {
  .scrollbar-transparent {
    scrollbar-color: #fff6 #00000026;
  }

  .search-box-shadow {
    box-shadow: -12px 0 24px 0 hsla(0, 0%, 100%, 0.16);
  }
}

:root {
  --color-primary: #172b4d;
  --color-secondary: #0c66e4;
  --main-background: #3fa495;
  --sidenav-background: #196a48e6;
  --header-background: #14553a;
  --button-hovered-background: #ffffff20;
  --button-selected-background: #ffffff3c;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  color: var(--color-primary);
}
