@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .center-xy {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform;
  }

  .center-x {
    @apply absolute left-1/2 -translate-x-1/2 transform;
  }

  .center-y {
    @apply absolute top-1/2 -translate-y-1/2 transform;
  }
}

:root {
  --color-primary: #172b4d;
  --color-secondary: #0c66e4;
  --main-background: #3fa495;
  --sidenav-background: #196a48e6;
  --header-background: #14553a;
  --button-hovered-background: #ffffff20;
  --button-selected-background: #ffffff3c;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  color: var(--color-primary);
}

@media (prefers-reduced-motion: reduce) {
  body {
    scroll-behavior: auto;
  }
}
