@import 'tailwindcss';

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-main-background: var(--main-background);
  --color-secondary-background: var(--secondary-background);
  --color-primary-background: var(--primary-background);
  --color-button-hovered-background: var(--button-hovered-background);
  --color-button-selected-background: var(--button-selected-background);
  --color-primary-border: var(--primary-border);

  --shadow-custom-light: 1px 0px 0px 0px hsl(0deg 0% 100% / 14%);

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility main-container {
  @apply px-4 pb-20 pt-4;
}

@utility center-xy {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform;
}

@utility center-x {
  @apply absolute left-1/2 -translate-x-1/2 transform;
}

@utility center-y {
  @apply absolute top-1/2 -translate-y-1/2 transform;
}

@utility scrollbar-transparent {
  scrollbar-color: #fff6 #00000026;
}

@utility scrollbar-stable {
  scrollbar-gutter: stable both-edges;
}

@utility search-box-shadow {
  box-shadow: -12px 0 24px 0 hsla(0, 0%, 100%, 0.16);
}

@utility shadow-transition {
  box-shadow: inset 0 0 0 1px #8590a2;
  transition-duration: 85ms;
  transition-property: box-shadow;
  transition-timing-function: ease;
}

@utility shadow-transition-effect {
  box-shadow: inset 0 0 0 2px var(--primary-border);
}

@utility card-shadow {
  box-shadow:
    0px 1px 1px #091e4240,
    0px 0px 1px #091e424f;
}

:root {
  --color-primary: #172b4d;
  --color-secondary: #0c66e4;
  --main-background: #3fa495;
  --primary-background: #14553a;
  --secondary-background: #196a48e6;
  --button-hovered-background: #ffffff20;
  --button-selected-background: #ffffff3c;
  --primary-border: #388bff;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  color: var(--color-primary);
}
